$main-fz: 16px;
$main-fw: 400;
$main-lh: 1.4;
$main-ff: 'Montserrat', Arial, Helvetica, sans-serif;
$secodary-ff: 'Oswald', Arial, Helvetica, sans-serif;

$main-color: #000;
$secondary-color: #434242;
$primary-color: #961914;
$white-color: #fff;
$queen-pink: #ead1d0;
$lavender-blush: #fff4f3;

$btn-color: $primary-color;
$btn-hover: #75110D;
$btn-ghost-hover: $queen-pink;
$btn-light-text: #ec7973;
$btn-light-color: #fff4f3;
$btn-light-hover: $queen-pink;
$btn-opacity-color: rgba($white-color, .2);
$btn-opacity-hover: rgba($white-color, .4);

$trs: all .3s;